[
  {
    "name": "Test 01: no undefined behavior",
    "files": [ "src/caesar.c", "src/gen_test.c", "tests/test_01.c" ],
    "compilation_cmd": "-I src"
  },
  {
    "name": "Test 02: undefined behavior (out of bounds write)",
    "files": [ "src/caesar.c", "src/gen_test.c", "tests/test_02.c" ],
    "compilation_cmd": "-I src"
  },
  {
    "name": "Test 03: undefined behavior (signed overflow)",
    "files": [ "src/caesar.c", "src/gen_test.c", "tests/test_03.c" ],
    "compilation_cmd": "-I src"
  },
  {
    "name": "Test 01: no undefined behavior",
    "files": [ "src/caesar.c", "src/gen_test.c", "tests/three_tests.c" ],
    "compilation_cmd": "-I src",
    "main": "test_01"
  },
  {
    "name": "Test 02: undefined behavior (out of bounds write)",
    "files": [ "src/caesar.c", "src/gen_test.c", "tests/three_tests.c" ],
    "compilation_cmd": "-I src",
    "main": "test_02"
  },
  {
    "name": "Test 03: undefined behavior (signed overflow)",
    "files": [ "src/caesar.c", "src/gen_test.c", "tests/three_tests.c" ],
    "compilation_cmd": "-I src",
    "main": "test_03"
  },
  {
    "name": "Error: no entry point",
    "files": [ "src/caesar.c", "src/gen_test.c" ],
    "compilation_cmd": "-I src"
  },
  {
    "name": "Error: parsing error",
    "files": [ "src/caesar.c", "src/gen_test.c", "tests/test_parsing_error.c" ],
    "compilation_cmd": "-I src"
  },
  {
    "name": "Error: header file not included",
    "files": [ "src/caesar.c", "src/gen_test.c", "tests/test_01.c" ]
  }
]
