[
  {
    "name": "No undefined behavior",
    "files": [ "src/caesar.c", "src/gen_test.c", "tests/test_01.c" ],
    "compilation_cmd": "-I src"
  },
  {
    "name": "No undefined behavior - NO RESULTS",
    "files": [ "src/caesar.c", "src/gen_test.c", "tests/test_01.c" ],
    "compilation_cmd": "-I src",
    "no-results": true
  }
]
